.reveal section.slide.level1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal section {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  gap: 40px;
  text-align: left;
}

.reveal section h2 {
  grid-column: 1;
}

.reveal section ul,
.reveal section p {
  grid-column: 2;
  border: 2px solid #fd7e14;
  padding: 24px 28px;
  border-radius: 12px;
}

.reveal section.slide.level1 h2,
.reveal section.slide.level1 h4,
.reveal section.slide.level1 p {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.reveal section.slide.level3 h2,
.reveal section.slide.level3 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  border: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
